body {
	margin:0;
	font-size: 16px;
	font-family:verdana;
}
#top {
	background: #000;
	color:#fff;
	font-size:36px;
	padding:6px 9px;
	letter-spacing: -3px;
}

#top a {
	text-decoration: none;
	color:#fff;
}
#contract_text_container {
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-color:#181818;
	padding:36px;
	white-space: pre-line;
	width:80%;
	margin:auto;
	background:white;
	z-index: 1;
	font-family:Times !important;
}

#contract_textarea {
	display:block;
	font-family: times;
	font-size:16px;
	border: none;

}

#contract_container {
	position: relative;
	padding:30px 0;
	background:#f2f2f2;
}

#contract_actions {
	position: absolute;
	right:20px;
	top:11px;
	z-index: 3;
	width:90px;
	font-size:18px;
	color:white;
	text-align: center;
	cursor: pointer;
	font-family:verdana !important;
}

#contract_actions div {
	margin: -8px 0 0;
	height: 33px;
	padding:6px;
	cursor: pointer;
	line-height: 33px;
	z-index: 4;
	border-radius: 6px;
}

#contract_draft {
	background-color: orange;
}

#contract_preview {
	background-color: blue;
}

.edit {
	background-color: #1ed760;	
}

.save {
	background-color: #ce5054;
}

.contract_variable {
	margin:0 0 11px 0;
}

#contract_form {
	font-family: verdana;
	font-size:18px;
	margin:-30px 0 0 0;
}

#contract_form h1 {
	margin:0 0 18px 0;
}

#contract_description {
	color:#ccc;
	font-style: italic;
	margin:0 0 18px 0;
	font-size:14px;
}

input.input_for_variable {
	width:300px;
	border:1px #a6a6a6 solid;
	border-radius: 3px;
	font-size: 18px;
	padding:0 6px;
	line-height:30px;
	color:#ccc;
	display:block;
	margin: 0 0 18px 0;
}

.radio_for_optional_variable {
	margin: 0 18px;
}

.contract_variable_optional {
	margin:18px 0 0 0;
	display:none;
}

#form_submit {
	margin:11px 0 0 0;
	height:36px;
	width:240px;
	color:#fff;
	background-color: red;
	border: none;
	font-size: 18px;
	line-height: 36px;
	border-radius: 6px;
}

#top-small {
	font-size: 16px;
	letter-spacing: -1px;
}